[Unit]
Description=cAdvisor container monitoring with InfluxDb storage
After=influxdb.service
Requires=influxdb.service

[Service]
EnvironmentFile=/etc/environment
User=core

TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill cadvisor
ExecStartPre=-/usr/bin/docker rm cadvisor
ExecStartPre=/usr/bin/docker pull google/cadvisor:0.14.0
ExecStart=/usr/bin/docker run --link influxsrv:influxsrv --name cadvisor \
      -p 8080:8080 \
      --volume "/:/rootfs:ro" \
      --volume "/var/run:/var/run:rw" \
      --volume "/var/lib/docker/:/var/lib/docker:ro" \
      google/cadvisor:0.14.0 \
      -storage_driver=influxdb -storage_driver_db=cadvisor -storage_driver_host=influxsrv:8086
ExecStop=/usr/bin/docker stop cadvisor

[X-Fleet]
Global=false
MachineOf=influxdb.service
