[Unit]
Description=Grafana metrics dashboard with linked InfluxDb containerized back-end
After=influxdb.service
Requires=influxdb.service

[Service]
EnvironmentFile=/etc/environment
User=core

TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill grafanasrv
ExecStartPre=-/usr/bin/docker rm grafanasrv
ExecStartPre=/usr/bin/docker pull grafana/grafana:2.0.2
ExecStart=/usr/bin/docker run --link influxsrv:influxsrv --name grafanasrv \
      -p 3001:3001   \
      --env GF_SERVER_HTTP_PORT=3001 \
      --env INFLUXDB_HOST=localhost \
      --env INFLUXDB_PORT=8086 \
      --env INFLUXDB_NAME=cadvisor \
      --env INFLUXDB_USER=root \
      --env INFLUXDB_PASS=pissoff \
      grafana/grafana:2.0.2
ExecStop=/usr/bin/docker stop grafanasrv

[X-Fleet]
Global=false
MachineOf=influxdb.service
